/**
  * @name Revert Rebrand
  * @author GooseNest
  * @description Reverts Discord's 2021 rebrand (font, colors, reactions, mentions, loading screen, home icon, reply ping color, and more)
  * @invite neMncS2
  * @version 3.0
*/

@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/main.css');