@import url("https://kckarnige.github.io/femboi_owo/discord-font.css");

:root {
    background-color: #2f3136;
    user-select: none;
    --header-secondary: #b9bbbe;
    --header-primary: #fff;
    --background-tertiary: #202225;
}

body {
    color: white;
}

h1 {
    font-size: 0;
    text-align: center;
    transform: translateY(-105%);
}

.logo:before {
    content: "ARM";
    color: #7289da;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

span {
    text-align: center;
}

.logo {
    color: #ffffff;
    font-weight: normal;
    font-family: Discordinated;
    font-size: 32px;
    text-align: center;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

button.back-btn {
    position: absolute;
    background-color: #7289da;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 4px;
    border-radius: 5px;
    width: 105px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    left: 0;
    text-align: center;
    border-style: none;
    outline: none;
}

button.back-btn:hover {
    background-color: #687dc6;
    border-style: none;
    outline: none;
    cursor: pointer;
}

button.back-btn:active {
    background-color: #5c6fb1;
}

button#open-themes-btn {
    position: absolute;
    background-color: #7289da;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 4px;
    border-radius: 5px;
    width: 105px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    right: 0;
    text-align: center;
    border-style: none;
    outline: none;
}

button#open-themes-btn:hover {
    background-color: #687dc6;
    border-style: none;
    outline: none;
    cursor: pointer;
}

button#open-themes-btn:active {
    background-color: #5c6fb1;
}

#tm-list {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#tm-list-item {
    background: #23272a;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px 18px;
}

#theme-name {
    color: #7289da;
    font-weight: 400;
    font-size: 20px;
}

#theme-author {
    color: #99aab5;
    font-size: 12px;
}

#theme-description {
    color: #b9bbbe;
    font-size: 15px;
    position: relative;
    top: 8px;
    width: 75%;
}

::-webkit-scrollbar {
    width: 0.4em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 25px;
}
