/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Restyle the create server and discovery buttons to the old green */
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
  color: var(--old-green);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
.container-3auIfb[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--brand-experiment);
}

/* Change all radio bars with the new green to the old green */
/* In particular, this fixes the privacy and safety settings' 'keep me safe' option */
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#3ba55c"] {
  --radio-bar-accent-color: var(--old-green) !important;
}

/* Revert ping mention button being link colored (used to be brand) */
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
  color: var(--brand-experiment) !important;
}