/* Fix misc SVGs that for some reason sometimes weren't targeted by the previous rules (particularly presence SVGs) */
*[fill="#3ba55c"] {
  fill: var(--old-green);
}

/* Fix the call icons in chat */
.icon-2Po-VO.iconSize-2tmqqh[style='background-image: url("/assets/7f75ab26bc5deb393cd8db44d9fe14e7.svg");'] {
  background-image: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/call_icon.svg") !important;
}

/* Server join icon to old green (arrow left to join system message) */
.icon-2Po-VO.iconSize-2tmqqh[style='background-image: url("/assets/e06a573355c490f7ce6e3125ac01db81.svg");'] {
  background-image: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/server_join_icon.svg") !important;
}

/* Change the lock icon in the settings, it's an img tag so we need to use the content: css attribute instead of background-image */
.lockIcon-2Hj8Tq[src="/assets/acea8fd38500a12d0509c027a274caaa.svg"] {
  content: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/mfa_lock_icon.svg") !important;
}

/* Permission checkmarks in authorized apps to the old green */
/* The images in these are specified by class, so it's impossible to get more specific of a match than this */
.permissionCheckmark-1SeKr2 {
  background: url("https://Goose-Nest.github.io/GT-RevertRebrand/assets/authorized_apps_checkmark_icon.svg") no-repeat;
}