.notice-2HEN-u {
    display: none;
}
[customTitlebar] .sidebar-1tnWFu {
    border-top-left-radius: 8px;
}
[customTitlebar] .scroller-3X7KbA {
    padding: 0;
    padding-top: 4px;
}
[customTitlebar] .backdrop-2ByYRN {
    top: -30px;
    padding-top: 30px;
}
* {
    outline: none;
}
[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}
#ac-ver {
    text-transform: none;
    cursor: pointer;
    color: var(--text-muted);
}
#ac-ver:hover {
    text-decoration: underline;
    color: var(--text-normal);
}

/* Server List Scrollbar - https://github.com/kckarnige/server-scroll */
.none-2-_0dP {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-right: 2px;
}

.none-2-_0dP:hover::-webkit-scrollbar {
    width: 0.3em !important;
    border-radius: 25px;
    height: 0px !important;
    background: transparent !important;
}

.none-2-_0dP::-webkit-scrollbar-thumb {
    background: var(--background-accent);
    border-radius: 25px;
}
