.info-3pQQBb:last-child:before {
  content: "ArmCord Version: 3.1.0"!important;
  height: auto;
  line-height: 16px;
  text-align: center;
  color: var(--text-muted);
  font-size: 12px;
  text-transform: none;
}
.notice-2HEN-u {
    display: none;
}