.acTheme {
    height: 15em !important;
}
.acCSP {
    height: 10em !important;
}
.acPatches {
    height: 10em !important;
}
.acWebsocket {
    height: 10em !important;
}
.acMobileMode {
    height: 11em !important;
}
.acAltPaste {
    height: 11em !important;
}
.acChannel {
    height: 21em !important;
}
.acClientMod {
    height: 18em !important;
}
.acCordwood {
    height: 8em !important;
}
.acPrfmMode {
    height: 10em !important;
}
.acTray {
    height: 8em !important;
}
