.tabs {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    height: 30px;
    line-height: 30px;
    background-color: #202225;
    -webkit-app-region: drag;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    position: fixed;
    z-index: 99999;
}

.tabs #tabs-controls-container {
    float: left;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #202225;
    -webkit-app-region: no-drag;
}
.tabs-buttons {
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}
.tabs-buttons:hover {
    background-color: #4e515a;
}
.withFrame-haYltI {
    height: 30px !important;
}
