@import url("https://armcord.smartfridge.space/logofont.css");
:root {
    --window-buttons: var(--header-secondary);
    --cord-color: var(--header-primary);
    --armcord-color: #7289da;
    --titlebar-color: var(--background-tertiary);
}
.titlebar {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    height: 30px;
    line-height: 30px;
    background-color: #202225;
    -webkit-app-region: drag;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    position: fixed;
    z-index: 99999;
}
.titlebar #window-title {
    width: 30%;
    height: 100%;
    line-height: 30px;
    float: left;
    padding: 0 0 0 1em;
}

.titlebar #window-controls-container {
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #202225;
    -webkit-app-region: no-drag;
}

.titlebar #window-controls-container #minimize,
.titlebar #window-controls-container #maximize,
.titlebar #window-controls-container #quit {
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    cursor: default;
}

.titlebar #window-controls-container #minimize:hover {
    background-color: #99aab5;
}
.titlebar #window-controls-container #maximize:hover {
    background-color: #99aab5;
}
.titlebar #window-controls-container #quit:hover {
    background-color: #f04747;
}
.titlebar #window-controls-container #quit {
    background-color: #f7f7f7;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
.titlebar #window-controls-container #minimize {
    background-color: #f7f7f7;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
.titlebar #window-controls-container #maximize {
    background-color: #f7f7f7;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
.window-title:after {
    content: "Cord";
    color: var(--cord-color) !important;
    font-weight: normal;
    font-size: 15px;
    font-family: Discordinated;
}
.window-title:before {
    content: "ARM";
    color: var(--armcord-color);
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}
.window-title {
    font-size: 0px !important;
    margin-left: initial !important;
    transform: translate(10px, 0px);
}
.withFrame-haYltI {
    height: 30px !important;
}
