* {
    outline: none;
}
[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}
#ac-ver {
    text-transform: none;
    cursor: pointer;
    color: var(--text-muted);
}

[data-list-item-id="guildsnav___app-download-button"] {
    display: none !important;
}

/* custom keybinds are not supported on web information */
.container_be45f6.info_be45f6.browserNotice_f916fc {
    visibility: hidden;
    display: block !important;
}
.container_be45f6.info_be45f6.browserNotice_f916fc:after {
    content: "You can modify global keybinds using the keybind maker on the left sidebar";
    visibility: visible;
}
