/* Revert mentions and channel links */
#app-mount .wrapper-3WhCwL {
  color: var(--brand-experiment-400);
  background: var(--brand-experiment-10a);
}

#app-mount .wrapper-3WhCwL:hover {
  background: var(--brand-experiment-25a);
}

/* Hide semi-transparent background if mentioned in message */
/* .mentioned-xhSam7 .mention {
  background: transparent !important;
} */