/* Revert reactions */
.reaction-1hd86g {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border-color: transparent !important;

  margin-right: 3px;
}

.reaction-1hd86g .reactionCount-2mvXRV {
  color: var(--text-muted); /* A11Y-- */
}

.reaction-1hd86g .reactionInner-15NvIl {
  padding: 0 4.5px;
}

/* Self reactions */
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  color: var(--brand-experiment); /* A11Y-- */
}

.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction-1hd86g:hover .reactionCount-2mvXRV {
  color: var(--interactive-active) !important;
}

.reaction-1hd86g:hover {
  background-color: var(--background-modifier-selected);
}

.reaction-1hd86g.reactionMe-wv5HKu:hover {
  background-color: var(--brand-experiment-40a);
}