@font-face {
    font-family: Whitney;
    font-weight: 400;
    font-style: normal;
    src: url(https://armcord.app/whitney_400.woff) format("woff");
}

* {
    font-family: "Whitney", sans-serif;
    box-sizing: border-box;
    cursor: default;
}
.desktop-capturer-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--background-secondary);
    color: #ffffff;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop-capturer-selection__scroller {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}
.desktop-capturer-selection__list {
    max-width: calc(100% - 100px);
    margin: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}
.desktop-capturer-selection__item {
    display: flex;
    margin: 4px;
}
.desktop-capturer-selection__btn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 145px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    padding: 4px;
    background: var(--background-floating);
    text-align: left;
}
@media (prefers-reduced-motion: no-preference) {
}
.desktop-capturer-selection__btn:hover,
.desktop-capturer-selection__btn:focus {
    background: #7289da;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.45), 0 0 2px rgba(0, 0, 0, 0.25);
    color: #fff;
}
.desktop-capturer-selection__thumbnail {
    width: 100%;
    height: 81px;
    object-fit: cover;
}
.desktop-capturer-selection__name {
    margin: 6px 0;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}
.desktop-capturer-selection__name--cancel {
    margin: auto 0;
}
:root {
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-floating: #18191c;
    --background-modifier-hover: rgba(106, 116, 128, 0.16);
    --brand-experiment: #7289da;
    --brand-experiment-560: #5c6fb1;
    --brand-experiment-600: #4e5d94;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --text-muted: #72767d;
    --header-primary: #fff;
}
.switch {
    vertical-align: middle;
    border-radius: 10px;
    background: var(--background-floating);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: var(--background-floating);
    border-style: solid;
}
.tgl {
    display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
    margin-top: 20px;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 1px;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 56%;
}

.tgl-light + .tgl-btn {
    background: var(--text-muted);
    border-radius: 25px;
    padding: 4px;
    transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: rgb(255, 255, 255);
    transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: var(--brand-experiment);
}
