.sources {
    grid-template-columns: auto auto;
    max-height: 260px;
    overflow: hidden;
    display: grid;
    overflow-y: scroll;
    text-align: center;
    font-weight: 500;
    border: 3px solid #1e2124;
    border-radius: 5px;
    border-style: dashed;
    padding: 10px;
}
.qualityBox {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10%;
}

.checkbox {
    padding-top: 10px;
}
.header {
    margin-bottom: 5px;
    margin-left: 5px;
}