name: Publish to WinGet
on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: vedantmgoyal2009/winget-releaser@v2
              with:
                  identifier: Legcord.Legcord
                  token: ${{ secrets.WINGET_TOKEN }}
